body {
    background-color: #14334B;
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

header {
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url("../images/ravenel-sunrise.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 200px 0;
}

header h1 {
    font-size: 96px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
}

header h2 {
    font-size: 40px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}

header h3 {
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 5px;
    line-height: 1.5;
    margin: 0;
}

header a {
    background: white;
    color: #14334B;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 1.5;
    margin-top: 32px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

footer {
    color: white;
    background-image: linear-gradient(rgba(20, 51, 75, 0.9), rgba(20, 51, 75, 0.9)), url("../images/skyline-chs.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-gap: 20px;
}

section {
    margin: 0 auto;
    max-width: 1200px;
}

footer h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

footer p {
 font-size: 16px;
 font-weight: 400;
 line-height: 24px;
 opacity: 0.7;
}

footer ul {
    padding: 0;
}

footer li {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer a {
    color: white;
    opacity: 0.7;
}

@media (max-width: 900px) {
    header {
        line-height: 1;
        padding: 60px 0;
    }

    header h1 {
        font-size: 48px;
    }

    header h2 {
        font-size: 20px;
    }

    header h3 {
        font-size: 12px;
    }

    header a {
        font-size: 12px;
    }
}