body {
    background-color: #14334B;
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.grid {
    display: grid;
    grid-gap: 64px;
}

.grid-2-columns {
    grid-template-columns: 1fr 1fr;
}

.grid-3-columns {
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-3-columns-with-narrow {
    grid-template-columns: 1fr 2fr 2fr;
}

.responsive-img {
    display: block;
    width: 100%;
}

.aspect-img {
    aspect-ratio: 1 / 1;
}

.embed {
    aspect-ratio: 1 / 1;
    width: 100%;
}

.card {
    background: white;
}

.card-header .grid {
    grid-gap: 0;
}

.card-body {
    padding: 30px;
}

.card-footer {
    padding: 0 30px 30px;
}

.btn {
    background-color: #14334B;
    color: white;
    display: block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 21px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 16px;
}

header {
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url("../images/ravenel-sunrise.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 200px 0;
}

header h1 {
    font-size: 96px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
}

header h2 {
    font-size: 40px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}

header h3 {
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 5px;
    line-height: 1.5;
    margin: 0;
}

.secondary h3 {
    margin-bottom: 20px;
}

header a {
    background: white;
    color: #14334B;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 1.5;
    margin-top: 32px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

section {
    margin: 0 auto;
    max-width: 100%;
    padding: 100px;
}

section.secondary {
    background: #f8f8f8;
}


main {
    background-color: white;
}

main h2 {
    color: #14334B;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 5px;
    line-height: 1.5;
    margin: 0;
    opacity: 0.3;
    text-transform: uppercase;
}

main h3 {
    color: #14334B;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
}

main h4 {
    color: #14334B;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    margin: 0;
}

main h5 {
    color: #14334B;
    font-size: 13px;
    font-weight: 700;
    line-height: 1;
    margin: 0;
}

main p {
    color: #14334B;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    opacity: 0.7;

}

table {
    border-spacing: 20px;
    width: 100%;
}

.table-container {
    overflow-x: auto;
}

td {
    background-size: cover;
    background-repeat: none;
    height: 300px;
    min-width: 300px;
}

.img-1 {
    background-image: url("../table-images/spire-chs.png");
}

.img-2 {
    background-image: url("../table-images/night-ravenel.png");
}

.img-3 {
    background-image: url("../table-images/chs-christmas.jpg");
}

.img-4 {
    background-image: url("../table-images/dramatic-ravenel.png");
}

.img-5 {
    background-image: url("../table-images/boat-ravenel.jpg");
}

.img-6 {
    background-image: url("../table-images/dolphins.png");
}

.img-7 {
    background-image: url("../table-images/ravenel-sunset.png");
}

footer {
    color: white;
    background-image: linear-gradient(rgba(20, 51, 75, 0.9), rgba(20, 51, 75, 0.9)), url("../images/skyline-chs.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}



footer h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

footer p {
 font-size: 16px;
 font-weight: 400;
 line-height: 24px;
 opacity: 0.7;
}

footer ul {
    padding: 0;
}

footer li {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer a {
    color: white;
    opacity: 0.7;
}

@media (max-width: 900px) {
    header {
        line-height: 1;
        padding: 60px 0;
    }
    
    header h1 {
        font-size: 48px;
    }
    
    header h2 {
        font-size: 20px;
    }
    
    header h3 {
        font-size: 12px;
    }
    
    header a {
        font-size: 12px;
    }
    
    .grid {
        grid-template-columns: 1fr;
        grid-gap: 32px;
    }
    
    section {
        padding: 30px;
    }
    
    .card-header img {
        display: none;
    }
    
    .embed {
        aspect-ratio: 16 / 9;
    }

}